<div class="jumbotron" id="background-color">
    <h1>  </h1>

    <div class="card mb-3" style="background-color: black; color: white;">
            <img class="card-img-top" src="https://cdn.rentokil.com/content/local/us-amb/images/desktop/main_dallas-desktop-banner-min.jpg" alt="Card image cap" height=300px;>
            <div class="card-body">
              <h2 class="card-title">Welcome to myCart Dallas!</h2>
              <p class="card-text">We're happy to have you here! Check out our reviews and company updates below, or click on the "items" link above to see our products.</p>
            
            </div>
          </div>
         <hr>
          <div class="card">
            <div class="card-body">
                <br>
              <h1 class="card-title">"I've never been happier than when I shopped mycart dallas. ⭐⭐⭐⭐⭐"</h1> <br> <hr> <br> 
              <p class="card-text"> "Honestly, shopping at myCart dallas has been a life-changing experience. We didn't realize just how hassle-free it could be to get our groceries and other items delivered through an online service--and more than that, the customer service is exceptional.  Big thanks to myCart Dallas--we'll certainly be back!"" <br> <br> -Randy & Kim, Customers since 2007.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
           
          </div>
        <br> 
        <hr>
          <div class="card mb-3">
                <img class="card-img-top" src="https://media.thv11.com/assets/KTHV/images/ca9187b1-86b7-496f-862e-b8bb1e9c5619/ca9187b1-86b7-496f-862e-b8bb1e9c5619_1140x641.png" alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">myCart Dallas: Giving Back</h5>
                  <p class="card-text">This Thursday, myCART Dallas employees picked up their trash bags and got to work! Every Thursday, myCart Dallas employees take the afternoon to head out and give back--often by volunteering at local homeless shelters, soup kitchens, as highway trash pickers, or as mentors for low-income schools in the Dallas area.  At myCart Dallas, we know that we're all lucky every day to have what we have, and we try to take every opportunity to give back.  We know our employees work hard and have busy schedules that make it even more difficult for them to take time out of their day to help others, and so we've continued to try to find ways to open up these opportunities for anyone who is interested.  If you'd like to join myCart Dallas' Giving Back Thursdays, feel free to reach out--whether you're an employee or just looking for a way to take part, we'd be more than happy to have you!.</p>
                  <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
                </div>
              </div>
</div>
