#background-color { 
    background-color: #EBE8E8;
    height: 7000px; 
    color: #5A5454; 
   
    background-image: url("https://www.toptal.com/designers/subtlepatterns/patterns/hypnotize.png");
}