<div class="jumbotron" id="background-color">
  <!-- some styling for the page  -->
    <h1> MY CART 🛒</h1>
    <p> Thank you for shopping MYCART DALLAS.  We welcome your business.</p>
    <hr>
    <!-- adding the items to the cart and displaying them -->
    <table class="table" *ngIf="itemsInCart.length > 0">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit Price</th>
                <th scope="col">Total Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of itemsInCart; let i = index">
                <td>{{ item.name }}</td>
                <!-- buttons to decrease and increase the quantity you have in the cart -->
                <td><button class="btn btn-info" [class.disabled]="item.quantity == 0" (click)="onDecreaseQuantity(item)">-</button>&nbsp;{{ item.quantity }}&nbsp;
                <button class="btn btn-info" [class.disabled]="item.quantity == item.available" (click)="onIncreaseQty(item)">+</button></td>
                <td>{{ item.price | currency }}</td>
                <td>{{ item.quantity * item.price | currency }}</td>
                <!-- removing items from the cart button -->
                <td><button class="btn btn-danger float-right" (click)="onRemoveItemFromCart(i)">Remove from Cart</button></td>
            </tr>
        </tbody>
    </table>
    <!-- displaying the subtotal calculated in the .ts layer of the cart -->
    <strong *ngIf="itemsInCart.length > 0">Subtotal: {{ total | currency }}</strong> <br>
    <br>
    <br>
    <!-- purchase button  -->
    <button *ngIf="itemsInCart.length > 0" class="btn btn-success" (click)="onPurchase()">Purchase</button>
   
    <!-- displaying the info text that should show up when the cart length is back to 0 -->
    <h1 *ngIf="itemsInCart.length == 0">{{ infoText }}</h1>

   <div *ngIf="itemsInCart.length == 0">
    <!-- displaying the invoice calculated in the cart.ts -->
    <br>
    <h5 *ngIf="itemsWerePurchased != true"> Your Subtotal: {{ total | currency }} </h5>
    <hr>
    <h5 *ngIf="itemsWerePurchased != true"> Sales Tax: {{ sales | currency }} </h5>
    <h5 *ngIf="itemsWerePurchased != true"> Import Tax: {{ imported | currency }} </h5>
    <hr>
    <h5 *ngIf="itemsWerePurchased != true"> Total: {{ total + imported + sales | currency }} </h5>

  </div>
</div>
 