<div class="jumbotron" id="background-color">
    <h1> MY CART 🛒</h1>
    <p> Thank you for shopping MYCART DALLAS.  We welcome your business.</p>
    <hr>
    <table class="table" *ngIf="itemsInCart.length > 0">
        <thead>
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Unit Price</th>
                <!-- <th scope="col">Sales Tax</th> -->
                <th scope="col">Total Price</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of itemsInCart; let i = index">
                <td>{{ item.name }}</td>
                <td><button class="btn btn-info" [class.disabled]="item.quantity == 0" (click)="onDecreaseQuantity(item)">-</button>&nbsp;{{ item.quantity }}&nbsp;
                <button class="btn btn-info" [class.disabled]="item.quantity == item.available" (click)="onIncreaseQty(item)">+</button></td>
                <td>{{ item.price | currency }}</td>
                <td>{{ item.quantity * item.price | currency }}</td>
                <td><button class="btn btn-danger float-right" (click)="onRemoveItemFromCart(i)">Remove from Cart</button></td>
            </tr>
        </tbody>
    </table>
    <!-- <strong *ngIf="itemsInCart.length > 0">Sales Tax Total: {{ total*0.10| currency }}</strong> -->
    <strong *ngIf="itemsInCart.length > 0">Subtotal: {{ total | currency }}</strong> <br>
   
    <br>
    <br>
    <button *ngIf="itemsInCart.length > 0" class="btn btn-success" (click)="onPurchase()">Purchase</button>
    <h5 *ngIf="itemsInCart.length == 0">{{ infoText }}</h5>


    <!-- <tr *ngFor="let item of itemsInCart; let i = index"> -->
    <h5 *ngIf="itemsWerePurchased != false"> Sales Tax: {{ sales | currency }} </h5>
    <h5 *ngIf="itemsWerePurchased != false"> Import Tax: {{ imported | currency }} </h5>
    <h5 *ngIf="itemsWerePurchased != false"> Total: {{ total + imported + sales | currency }} </h5>
  
  </div>
 