<div class="jumbotron">
    <h5> All Items </h5>
    <p> Welcome to Ultimate Shopping Dallas! We pride ourselves on providing an incredible shopping experience.  Don't believe us? Check out our reviews.</p>
    <br>
    <input [(ngModel)]="searchTerm" class="form-control" placeholder="Search">
<br>
    <div *ngFor="let item of (allItems)" class="card" style="width: 18rem; margin: 30px; padding: 10px;">
    <!-- <div *ngFor="let item of (allItems | search: searchTerm)" class="card" style="width: 18rem;"> -->
        <app-shopping-card [item]=item ></app-shopping-card>
      
    </div>
    
    
</div>